:root {
    --clr-dark: #1f2937;
    --clr-light: #f9faf8;
    --clr-medium: #e5e7eb;
    --clr-accent: #3882f6;
    --fsize-main: 3rem;
    --fsize-secondary: 1.125rem;
    --fsize-header-logo: 1.5rem;
    --fsize-significant: 2.25rem;
}

* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body,
h1,
h2,
h3,
p,
figure {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    min-width: 0;
}

figure > img {
    border: 0.25rem solid var(--clr-accent);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

header {
    padding: 1rem 0;
}

section {
    padding: 3rem 0;
}

footer {
    padding: 2rem 0;
}

.split,
.ul-split,
.split-item {
    display: flex;
    flex-direction: column;
}

@media (max-width: 64rem) {
    .container {
        align-items: center;
    }

    .split-item {
        text-align: center;
    }

    .split > * + *,
    .ul-split > * + *,
    .split-item > * + *{
        margin-top: 1em;
    }

    .header-logo {
        font-size: var(--fsize-main);
        font-weight: bold;
        margin-bottom: 1em;
    }

    button {
        margin-inline: auto;
    }

    figure > img {
        margin-inline: auto;
    }
}

.container {
    margin-inline: auto;
    max-width: min(90%, 70rem);
}

.container.container-narrow {
    max-width: min(90%, 60rem);
}

.text-center {
    text-align: center;
}

.container > .split {
    margin-inline: auto;
    padding-block: 2rem;
    max-width: min(90%, 60rem);
}

.split.text-center {
    max-width: min(100%, 60rem);
}

@media (min-width: 64rem) {
    .split,
    .ul-split {
        flex-direction: row;
    }

    .ul-split > *,
    section > .split > * + img,
    .split > figure + figure {
        margin-left: 2rem;
    }

    figure > img {
        height: 10rem;
    }

    .split-between {
        justify-content: space-between;
    }

    .split-between > .split-item {
        justify-content: center;
    }

    .header-logo {
        font-size: var(--fsize-header-logo);
    }
}

.quote {
    margin-bottom: 1rem;
}

.quote-owner {
    text-align: end;
}

.container.bg-accent {
    border-radius: 1rem;
}

button {
    max-width: 6rem;
    font-weight: 600;
    padding: 1rem;
    border-style: none;
    border-radius: 0.5rem;
}

.button-action {
    border: 0.25rem solid var(--clr-light);
}

h1 {
    font-size: var(--fsize-main);
}

.significant-text {
    font-size: var(--fsize-significant);
}

.secondary-text {
    font-size: var(--fsize-secondary);
}

.bg-dark {
    background-color: var(--clr-dark);
}

.bg-light {
    background-color: var(--clr-light);
}

.bg-medium {
    background-color: var(--clr-medium);
}

.bg-accent,
button {
    background-color: var(--clr-accent);
}

h1,
h3,
button,
header,
footer {
    color: var(--clr-light);
}

a,
.split-item > p {
    color: var(--clr-medium);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}